#root {
  max-width: 100vw;
}

.main {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  margin-inline: auto;
  text-align: center;
  row-gap: 1rem;
}

.separator {
  height: calc(0.25rem * 0.75);
  background-color: #74d4ff;
}

.nav {
  cursor: pointer;
  font-weight: bold;
  color: #2b7fff;
  text-decoration: none;
}

.active {
  text-decoration: underline;
  font-weight: bolder;
}